.btn {
  padding: 5px;
  background: $--color-background-100;
  border-radius: 6px;
  box-shadow: 0 14px 30px rgba($--color-shadow-blue, 0.1), 0 4px 4px rgba($--color-shadow-blue, 0.04);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  padding: 11px 16px;
  color: rgba(var(--color-gray-700), 1);
  cursor: pointer;
  text-transform: capitalize;
  transition: all 200ms linear;
  &--primary {
    &:hover {
      color: $--color-blue;
    }
  }
}
